services:
  # Backend API (NestJS)
  backend:
    build: ./backend
    container_name: slooze_backend
    restart: always
    ports:
      - "3000:3000"
    command: npm run start:prod
    environment:
      - DATABASE_URL=mongodb+srv://nandini16ray_db_user:BPO1xrNWJhPVpb8q@cluster0.9ijjfiz.mongodb.net/product
      - JWT_SECRET=super-secret-key
      - PORT=3000
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # Frontend App (Next.js)
  frontend:
    build: ./frontend
    container_name: slooze_frontend
    restart: always
    ports:
      - "3001:3001"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:3000/graphql
      - PORT=3001
    depends_on:
      - backend
